{%extends 'products/index.html'%}
{%block content%}
<form class="" action="{%url 'products_app:product' %}" method="post">
    {%csrf_token %}
    <input type='text' name='name' value='' placeholder='name'>
    <input type='text' name='price' value='' placeholder='price'>
    <input type='text' name='description' value='' placeholder='description'>
    <input type='text' name='quantity' value='' placeholder='quantity'>
    <input type='text' name='product_type' value='' placeholder='product_type'>
    <button type='submit'>Submit</button>
</form>
{%endblock%}